<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Contact Us</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/bite.png') }}">
</head>

<body>
    <a href="{{ url_for('home') }}" class="back-button" aria-label="return to home">← Back</a>

    <div class="form-container">
        <h1>
            <span style="color: #28a745;">Contact</span>
            <span style="color: #cccccc;">Us</span>
        </h1>
        <form method="POST" action="{{ url_for('submit_feedback') }}">
            <input type="text" name="name" placeholder="Your Name" required><br>
            <input type="email" name="email" placeholder="Your Email" required><br>
            <textarea name="message" placeholder="Your Message" rows="4" required></textarea><br>
            <button type="submit">Submit Feedback</button>
        </form>
    </div>
</body>
</html>
