<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>QuickBite - Dashboard</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/carousel.js') }}"></script>
    <script src="{{ url_for('static', filename='js/upload.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vega_graph.js') }}"></script>
    <script src="{{ url_for('static', filename='js/goals_graph.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.20.2"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@5.2.0"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.17.0"></script>
    <!-- Adding vega -->
    <script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>
    <style>
        body {
            font-family: Arial, sans-serif;
        }

        .meal-list {
            height: 300px;
            overflow-y: scroll;
        }
    </style>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/bite.png') }}">
    <script>
        {% autoescape false %}
        window.nutritionPreferences = {{ user.nutrition_preferences }};
        {% endautoescape %}
    </script>
</head>

<body class="no-background">
    <div class="header-bar">
        <div class="left" id="title-refresh">
            <span style="color: #28a745;">Quick</span><span style="color: #cccccc;">Bite</span>
        </div>
        <div class="center">Nutritional Dashboard</div>
        <div class="right">
            <a href="{{ url_for('goals') }}" style="text-decoration: none; color: inherit;"> Set Goals</a>
            <a href="{{ url_for('preferences') }}" style="text-decoration: none; color: inherit;">Preferences</a>
            <a href="{{ url_for('logout') }}" style="text-decoration: none; color: inherit;">Log out</a>
        </div>
    </div>

    <div class="grid-layout">
        <p class="greeting-text">
            <span class="greeting-main">Hey there!</span><span class="greeting-sub">What's tempting your taste buds
                today?</span>
        </p>

        <div class="carousel-container">
            <div class="carousel">
                <!-- Dashboard Column 1: Your Meals -->
                <div class="carousel-item">
                    <h2>Meal History</h2>
                    <div class="meal-list">
                        <ul>
                            {% for meal in meals %}
                            <li data-meal-id="{{ meal[0] }}">
                                <span class="meal-name">{{ meal[2] }}</span>
                                <span class="meal-time">{{ meal[-1] }}</span><br>
                                <span class="meal-info">
                                    Calories: {{ meal[8] }}kcal | Protein: {{ meal[22] }}g | Carbs: {{ meal[6] }}g |
                                    Fat: {{ meal[28] }}g
                                </span>
                            </li>
                            {% else %}
                            <li>No meals recorded yet.</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>

                <!-- Dashboard Column 2: Trailing 7 Day Diet Tracker -->
                <div class="carousel-item">
                    <h2>Trailing 7 Day Diet Tracker</h2>

                    <div id="parameter-selector">
                        <label for="nutrition-select">Select Nutrition:</label>
                        <select id="nutrition-select">
                            <option value="calories">Calories</option>
                            <option value="protein">Protein</option>
                            <option value="carbs">Carbs</option>
                            <option value="fat">Fat</option>
                        </select>
                    </div>
                    <div id="meals-data" style="display:none">
                        {{ meals_last_7_days }}
                    </div>
                    <div id="nutrition-graph-7-day">

                    </div>
                    <style>
                        #nutrition-graph-7-day form.vega-bindings {
                            display: none;
                        }
                    </style>
                </div>

                <!-- Dashboard Column 3: Premim Goal Tracker -->
                <div class="carousel-item">
                    <h2>Today's Goal Tracker</h2>
                    <div id="goals-data" style="display:none">
                        {{ goals }}
                    </div>
                    <!-- if goals not set -or- food is not available for the day -->
                    <!-- handled in goals_graph.js -->
                    <div id="graphs" style="display:none">
                        <div id="Calories-graph"></div>
                        <div id="Carbs-graph"></div>
                        <div id="Fats-graph"></div>
                        <div id="Proteins-graph"></div>
                    </div>
                    <div id="selection" style="display:none;">
                        <h3>Goals not set, set here</h3>
                        <a href="{{ url_for('goals') }}" 
                            style="display: inline-block; padding: 10px 20px; background-color: #28a745; color: white; border-radius: 5px; text-align: center; text-decoration: none;">
                            Set Goals
                        </a>
                    </div>
                    <!-- 
                <div class="locked-content">
                    <p>Discover more insights - Get <a href="/premium" style="color: #28a745;">Premium</a> access</p>
                </div> -->
                    <!-- <div id="Calories-graph"></div>
                <div id="Carbs-graph"></div>
                <div id="Fats-graph"></div>
                <div id="Proteins-graph"></div> -->
                </div>
            </div>

            <div class="carousel-controls">
                <button class="carousel-prev" onclick="prevSlide()">&#10094;</button>
                <div class="carousel-indicators">
                    <span class="indicator active" onclick="showSlide(0)"></span>
                    <span class="indicator" onclick="showSlide(1)"></span>
                    <span class="indicator" onclick="showSlide(2)"></span>
                </div>
                <button class="carousel-next" onclick="nextSlide()">&#10095;</button>
            </div>

        </div>
    </div>

    <div class="bottom-bar">
        <form id="uploadForm" action="/upload" method="POST" enctype="multipart/form-data">
            <!-- Dropdown to chose the model -->
            <select id="model-select" name="model">
                <option value="deit">DeiT</option>
                <option value="gpt-4o">GPT-4o</option>
                <option value="gpt-4o-no-classes">GPT-4o (no classes)</option>
                <option value="yolov8">YOLOv8 (legacy)</option>
            </select>
            <input type="file" id="fileInput" name="file" style="display: none;" accept="image/*"
                onchange="uploadImage()">
        </form>
        <button class="add-diary-button" onclick="triggerFileUpload()">+ Diary Entry</button>
    </div>

    <div id="popup" class="popup" style="display: none;">
        <div class="popup-content">
            <span class="close" id="close-popup">&times;</span>
            <div id="popup-result" class="popup-scrollable-content"></div>
            <button id="add-to-diary" class="add-to-diary">Add to My Diary</button>
        </div>
    </div>

    <div id="popup-history" class="popup-history" style="display: none;">
        <div class="popup-content">
            <button class="close-popup" onclick="closePopup()">✖</button>
            <div id="popup-result" class="popup-scrollable-content">
                <p id="popup-message">You ate this!</p>
            </div>
        </div>
    </div>

    <div class="popup-overlay" id="popup-overlay" style="visibility: hidden; opacity: 0;">
        <div class="popup-content">
            <span class="close">&times;</span>
            <p id="overlay-popup-message">You ate this!</p>
            <button onclick="closePopup()" class="close-button">Close</button>
        </div>
    </div>
</body>

</html>
