<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Preferences</title>
    <link href="https://fonts.googleapis.com/css2?family=Acme&family=Righteous&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/bite.png') }}">
</head>
<body>
    <a href="{{ url_for('dashboard') }}" class="back-button" aria-label="return to home">← Back</a>

    <div class="form-container">
        <h1>Preferences</h1>

        <div style="width: 350px; margin: 0 auto;">
            <form id="preferencesForm" action="/preferences" method="POST" style="text-align: left">
                {% for key, value in preferences.items() %}
                    <input type="checkbox" name="{{ key }}" value="on" {% if value %}checked{% endif %}>
                    <label for="{{ key }}">{{ key }}</label>
                    <br>
                {% endfor %}

                <br>
                <input type="submit">

                {% for message in get_flashed_messages() %}
                    <p>{{ message }}</p>
                {% endfor %}
            </form>
        </div>
    </div>
</body>
</html>
